<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="assets/style.css">
    <title>Boolzap</title>
</head>
<body>
    <div id="app" class="wrapper clearfix">
        
        
            <!-- ASIDE COLUMN -->
            <div class="aside">
                <!-- TOP-ASIDE -->
                <div class="top-aside">
                    <div class="utente d-flex">
                        <div class="pic">
                            <img src="assets/img/avatar_1.jpg" alt="">
                        </div>
                        <h3>Nome Utente</h3>
                    </div>
                    <div class="settings d-flex">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <!-- NOTIFICA -->
                <div class="notifica-messaggi">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div>
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <p>attiva notifiche dekstop</p>
                    </div>
                </div>

                <!-- SEARCH-BAR -->
                <div class="search-contacts">
                    <button
                    @click="createArrLetters">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <input
                    type="text"
                    placeholder="Cerca o inizia una nuova chat"
                    v-model="lettersTyped"
                    >
                </div>

                <!-- CHATS -->
                <div class="chats">
                    <div
                    class="friend-chat"
                    :class="(currentUser===chats[index]) ? 'active': '' "
                    v-for="(chat, index) in chats"
                    @click="changeUser(index)">
                        <div class="pic">
                            <img :src="`assets/img/avatar${chat.avatar}.jpg`" alt="">
                        </div>
                        <div class="text">
                            <h3>{{chat.name}}</h3>
                            <div class="last-text">ciao</div>
                        </div>
                        <div class="date">05/05/2022</div>
                    </div>
                </div>
            </div>
            <!-- SECTION COLUMN -->
            <div class="section">
                <div class="top-section d-flex">
                    <div class="active-user">
                        <div class="pic">
                            <img :src="`assets/img/avatar${currentUser.avatar}.jpg`" alt="">
                        </div>
                        <div class="info-user">
                            <h3>{{currentUser.name}}</h3>
                            <p>Ultimo accesso oggi alle 00:00</p>
                        </div>
                    </div>
                    <div class="settings d-flex">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="main-section clearfix">
                    <div v-for="(message, index) in currentUser.messages"
                    class="message d-flex"
                        :class="message.status==='sent' ? 'sent':'received'">
                        <p>{{message.message}}</p>
                        <i class="fa-solid fa-chevron-down"></i>
                        <span>{{message.date}}</span>
                    </div>
                </div>
                <div class="bottom-section d-flex">
                    <i class="fa-solid fa-face-smile"></i>
                    <input 
                    type="text" 
                    placeholder="Scrivi un messaggio"
                    v-model="newMessage"
                    v-on:keyup.enter="addMessage(currentUser)">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>
