*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILS */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.d-flex{
    display: flex;
}

i{
    color: #B1B1B1;
    cursor: pointer;
}

/* /UTILS */
/* body{
    background: repeating-linear-gradient(to bottom, #239586 0%, #239586 50px, #D6DBD8 100%, #D6DBD8 100%);
} */

.wrapper{
    font-family: 'Lato', sans-serif;
    width: 80%;
    height: 90vh;
    margin: 0 auto;
}

.top-background{
    height: 10vh;
    background-color: #239586;
}

.bottom-background{
    height: calc(100vh - 10vh);
    background-color: #D6DBD8;
}



/* ASIDE */
.aside{
    float: left;
    width: 40%;
    height: 100%;
    background-color: #FAFBFB;
}

.top-aside{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #EAEAEA;
    border-right: 1px solid #E0E0E0;
}

.utente{
    align-items: center;
}

.utente .pic{
    margin-left: 8px;
}

.settings{
    align-items: center;
}

.settings i{
    padding: 7px;
    cursor: pointer;
}

.notifica-messaggi{
    display: flex;
    height: 55px;
    background-color: #8EDAFC;
}

.notifica-messaggi i{
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    background-color: white;
    margin-left: 20px;
    margin-right: 10px;
}

.notifica-messaggi div p{
    text-decoration: underline;
    cursor: pointer;
    color: #557D8E;
}

.search-contacts{
    height: 40px;
}

.search-contacts button{
    border: none;
    border-right: 1px solid #E0E0E0;
    background-color: white;
    padding: 5px 15px;
    cursor: pointer;
}

.search-contacts button:hover{
    border: 1px solid blue;
    background-color: #E0E0E0;
}

.search-contacts button:hover i{
    color: white;
}

.search-contacts input{
    width: 80%;
    height: 35px;
    border: none;
    border-radius: 10px;
}

.search-contacts input:hover{
    border: 1px solid blue;
}

.chats{
    height: calc( 100% - 155px);
    overflow-y: auto;
}

.friend-chat{
    display: flex;
    position: relative;
    height: 55px;
    width: 95%;
}

.friend-chat.active{
    background-color: rgba(0, 0, 0, 0.194);
}

.pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.pic img{
    width: 100%;
}

.date{
    position: absolute;
    top: 0;
    right: 0;
}

/* /ASIDE */


/* SECTION */
.section{
    float: left;
    width: 60%;
    height: 100%;
}

/* TOP-SECTION */
.top-section{
    height: 60px;
    background-color: #EAEAEA;
    justify-content: space-between;
}

.active-user{
    display: flex;
    align-items: center;
}

.info-user p{
    color: #B1B1B1;
}

/* MAIN-SECTION */
.main-section{
    width: 100%;
    height: calc(100% - 120px);
    overflow-y: auto;
    background-image: url("/assets/img/mine.jpg");
}

.message{
    border-radius: 10px;
    position: relative;
    min-width: 200px;
    max-width: 60%;
    min-height: 60px;
    padding: 5px;
    margin-top: 10px;
    clear: both;
}

.sent{
    float: right;
    background-color: #D5F9BA;
}

.received{
    float: left;
    background-color: white;
}

.message p{
    max-width: 90%;
}

.message i{
    position: absolute;
    top: 5px;
    right: 12px;
}


.message span{
    position: absolute;
    bottom: 5px;
    right: 12px;
    font-size: 10px;
}
/* BOTTOM-SECTION */

.bottom-section{
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background-color: #EAEAEA;
}

.bottom-section input{
    width: 80%;
    height: 35px;
    border: none;
    border-radius: 10px;
}

.bottom-section input:hover{
    border: 1px solid blue;
}